<a href="https://colab.research.google.com/github/ele9996/Temperature-and-Humidity-forecasting/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Temperature and humidity forecasting

In [6]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt
import os
from zipfile import ZipFile

##Import Dataset

In [10]:
uri = "https://storage.googleapis.com/tensorflow/tf-keras-datasets/jena_climate_2009_2016.csv.zip"
zip_path = keras.utils.get_file(origin=uri, fname="jena_climate_2009_2016.csv.zip")
zip_file = ZipFile(zip_path)
zip_file.extractall()
csv_path = "jena_climate_2009_2016.csv"

df = pd.read_csv(csv_path)
df

                  Date Time  p (mbar)  ...  max. wv (m/s)  wd (deg)
0       01.01.2009 00:10:00    996.52  ...           1.75     152.3
1       01.01.2009 00:20:00    996.57  ...           1.50     136.1
2       01.01.2009 00:30:00    996.53  ...           0.63     171.6
3       01.01.2009 00:40:00    996.51  ...           0.50     198.0
4       01.01.2009 00:50:00    996.51  ...           0.63     214.3
...                     ...       ...  ...            ...       ...
420546  31.12.2016 23:20:00   1000.07  ...           1.52     240.0
420547  31.12.2016 23:30:00    999.93  ...           1.92     234.3
420548  31.12.2016 23:40:00    999.82  ...           2.00     215.2
420549  31.12.2016 23:50:00    999.81  ...           2.16     225.8
420550  01.01.2017 00:00:00    999.82  ...           1.96     184.9

[420551 rows x 15 columns]

In [11]:
selected_feat=['T (degC)','rh (%)']
selected_df=df[selected_feat]    #df.loc[:,selected_feat].values

selected_df

        T (degC)  rh (%)
0          -8.02   93.30
1          -8.41   93.40
2          -8.51   93.90
3          -8.31   94.20
4          -8.27   94.10
...          ...     ...
420546     -4.05   73.10
420547     -3.35   69.71
420548     -3.16   67.91
420549     -4.23   71.80
420550     -4.82   75.70

[420551 rows x 2 columns]

In [17]:
#Data conversion to a 32-bit float numpy array

selected_array=selected_df.to_numpy(dtype=np.float32)   #.astype(np.float32)
selected_array

array([[-8.02, 93.3 ],
       [-8.41, 93.4 ],
       [-8.51, 93.9 ],
       ...,
       [-3.16, 67.91],
       [-4.23, 71.8 ],
       [-4.82, 75.7 ]], dtype=float32)