<a href="https://colab.research.google.com/github/ele9996/Temperature-and-Humidity-forecasting/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Temperature and humidity forecasting

In [144]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt
import argparse
import os
from zipfile import ZipFile

In [145]:
seed = 42
tf.random.set_seed(seed)
np.random.seed(seed)

In [146]:
#parser = argparse.ArgumentParser()
#parser.add_argument('--model', type=str, required=True, help='model name')
#parser.add_argument('--labels', type=int, required=True, help='model output')
#args = parser.parse_args()

#per prova
label_to_predict= 0
model_name= "my_model"

##Import Dataset

In [147]:
uri = "https://storage.googleapis.com/tensorflow/tf-keras-datasets/jena_climate_2009_2016.csv.zip"
zip_path = keras.utils.get_file(origin=uri, fname="jena_climate_2009_2016.csv.zip")
zip_file = ZipFile(zip_path)
zip_file.extractall()
csv_path = "jena_climate_2009_2016.csv"

df = pd.read_csv(csv_path)
df

                  Date Time  p (mbar)  ...  max. wv (m/s)  wd (deg)
0       01.01.2009 00:10:00    996.52  ...           1.75     152.3
1       01.01.2009 00:20:00    996.57  ...           1.50     136.1
2       01.01.2009 00:30:00    996.53  ...           0.63     171.6
3       01.01.2009 00:40:00    996.51  ...           0.50     198.0
4       01.01.2009 00:50:00    996.51  ...           0.63     214.3
...                     ...       ...  ...            ...       ...
420546  31.12.2016 23:20:00   1000.07  ...           1.52     240.0
420547  31.12.2016 23:30:00    999.93  ...           1.92     234.3
420548  31.12.2016 23:40:00    999.82  ...           2.00     215.2
420549  31.12.2016 23:50:00    999.81  ...           2.16     225.8
420550  01.01.2017 00:00:00    999.82  ...           1.96     184.9

[420551 rows x 15 columns]

In [148]:
selected_feat=['T (degC)','rh (%)']
selected_df=df[selected_feat]    #df.loc[:,selected_feat].values

selected_df

        T (degC)  rh (%)
0          -8.02   93.30
1          -8.41   93.40
2          -8.51   93.90
3          -8.31   94.20
4          -8.27   94.10
...          ...     ...
420546     -4.05   73.10
420547     -3.35   69.71
420548     -3.16   67.91
420549     -4.23   71.80
420550     -4.82   75.70

[420551 rows x 2 columns]

In [149]:
#Data conversion to a 32-bit float numpy array

selected_array=selected_df.to_numpy(dtype=np.float32)   #.astype(np.float32)
selected_array

array([[-8.02, 93.3 ],
       [-8.41, 93.4 ],
       [-8.51, 93.9 ],
       ...,
       [-3.16, 67.91],
       [-4.23, 71.8 ],
       [-4.82, 75.7 ]], dtype=float32)

In [150]:
#I define training (70%),validation (10%) and test data set (20%)

n=len(selected_array)
train_data=selected_array[0:int(n*0.7)]
val_data=selected_array[int(n*0.7):int(n*0.8)]
test_data = selected_array[int(n*0.8):]

In [151]:
#I define mean and standard deviation (for normalization)
mean = train_data.mean(axis=0)
std = train_data.std(axis=0)

#I define the size of the window and Label Options (which is a number)
#LABEL_OPTIONS= is a number used to make my model understand if I'm predicting only temperature, only humidity or humidity and temperature together.
#              is 0 for temperature, 1 for humidity, 2 for both

input_width = 6
LABEL_OPTIONS =label_to_predict
#LABEL_OPTIONS = args.labels

##Window Generation

In [152]:
#features: temperature, humidity (x6 values)
#one temperature value (the one corresponding to the next time interval)


class WindowGenerator:
    def __init__(self, input_width, label_options, mean, std):
        self.input_width = input_width
        self.label_options = label_options
        self.mean = tf.reshape(tf.convert_to_tensor(mean), [1, 1, 2])
        self.std = tf.reshape(tf.convert_to_tensor(std), [1, 1, 2])

    def split_window(self, features):
        input_indeces = np.arange(self.input_width)
        inputs = features[:, :-1, :]

        if self.label_options < 2:
            labels = features[:, -1, self.label_options]
            labels = tf.expand_dims(labels, -1)
            num_labels = 1
        else:
            labels = features[:, -1, :]
            num_labels = 2

        inputs.set_shape([None, self.input_width, 2])
        labels.set_shape([None, num_labels])

        return inputs, labels

    def normalize(self, features):
        features = (features - self.mean) / (self.std + 1.e-6)

        return features

    def preprocess(self, features):
        inputs, labels = self.split_window(features)
        inputs = self.normalize(inputs)

        return inputs, labels

    def make_dataset(self, data, train):
        ds = tf.keras.preprocessing.timeseries_dataset_from_array(
                data=data,
                targets=None,
                sequence_length=input_width+1,
                sequence_stride=1,
                batch_size=32)
        ds = ds.map(self.preprocess)
        ds = ds.cache()
        if train is True:
            ds = ds.shuffle(100, reshuffle_each_iteration=True)

        return ds

In [153]:
generator = WindowGenerator(input_width, LABEL_OPTIONS, mean, std)
train_ds = generator.make_dataset(train_data, True)
val_ds = generator.make_dataset(val_data, False)
test_ds = generator.make_dataset(test_data, False)

##Dataset Generation

In [157]:
# split datasets into input (X) and output (y) variables

#train
for x_train,y_train in train_ds.take(1):
  print(x_train.shape)
  print(y_train.shape)


#validation
for x_val,y_val in val_ds.take(1):
  print(x_val.shape)
  print(y_val.shape)


#test
for x_test,y_test in test_ds.take(1):
  print(x_test.shape)
  print(y_test.shape)

(32, 6, 2)
(32, 1)
(32, 6, 2)
(32, 1)
(32, 6, 2)
(32, 1)

In [155]:
#CNN_1D Model definition

cnn_1d_model = keras.Sequential([
    keras.layers.Conv1D(filters=64,kernel_size=3, activation='relu'),
    keras.layers.Flatten(),
    keras.layers.Dense(units=64, activation='relu'),
    keras.layers.Dense(units=1)
])

In [156]:
#LSTM Model definition

lstm_model = keras.Sequential([
    keras.layers.LSTM(units=64),
    keras.layers.Flatten(),
    keras.layers.Dense(units=1)
])

##MPL Model

In [154]:
#MLP Model definition
mlp_model = keras.Sequential([
    keras.layers.Flatten(),
    keras.layers.Dense(units=128, activation='relu'),
    keras.layers.Dense(units=128, activation='relu'),
    keras.layers.Dense(units=1)
])

In [158]:
#Training, evaluation and testing with mlp model

mlp_model.compile(loss='mse', optimizer='adam', metrics=['mse'])
mlp_model.fit(x_train, y_train, epochs=20)

Epoch 1/20
1/1 [==============================] - 0s 1ms/step - loss: 163.8430 - mse: 163.8430
Epoch 2/20
1/1 [==============================] - 0s 2ms/step - loss: 154.9469 - mse: 154.9469
Epoch 3/20
1/1 [==============================] - 0s 2ms/step - loss: 146.9075 - mse: 146.9075
Epoch 4/20
1/1 [==============================] - 0s 2ms/step - loss: 139.5218 - mse: 139.5218
Epoch 5/20
1/1 [==============================] - 0s 2ms/step - loss: 132.4671 - mse: 132.4671
Epoch 6/20
1/1 [==============================] - 0s 2ms/step - loss: 125.7531 - mse: 125.7531
Epoch 7/20
1/1 [==============================] - 0s 2ms/step - loss: 119.3797 - mse: 119.3797
Epoch 8/20
1/1 [==============================] - 0s 2ms/step - loss: 113.3935 - mse: 113.3935
Epoch 9/20
1/1 [==============================] - 0s 2ms/step - loss: 107.5705 - mse: 107.5705
Epoch 10/20
1/1 [==============================] - 0s 2ms/step - loss: 101.8022 - mse: 101.8022
Epoch 11/20
1/1 [==============================] - 0s 2ms/step - loss: 96.0541 - mse: 96.0541
Epoch 12/20
1/1 [==============================] - 0s 6ms/step - loss: 90.5084 - mse: 90.5084
Epoch 13/20
1/1 [==============================] - 0s 2ms/step - loss: 85.1144 - mse: 85.1144
Epoch 14/20
1/1 [==============================] - 0s 1ms/step - loss: 79.7009 - mse: 79.7009
Epoch 15/20
1/1 [==============================] - 0s 2ms/step - loss: 74.3454 - mse: 74.3454
Epoch 16/20
1/1 [==============================] - 0s 2ms/step - loss: 69.0157 - mse: 69.0157
Epoch 17/20
1/1 [==============================] - 0s 2ms/step - loss: 63.6898 - mse: 63.6898
Epoch 18/20
1/1 [==============================] - 0s 1ms/step - loss: 58.3876 - mse: 58.3876
Epoch 19/20
1/1 [==============================] - 0s 4ms/step - loss: 53.1636 - mse: 53.1636
Epoch 20/20
1/1 [==============================] - 0s 2ms/step - loss: 48.2237 - mse: 48.2237

In [159]:
#model evaluation on validation set

mlp_model.compile(loss='mae', optimizer='adam')
val_loss= mlp_model.evaluate(x_val, y_val)

WARNING:tensorflow:8 out of the last 12 calls to <function Model.make_test_function.<locals>.test_function at 0x7fe17bc82e18> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 1ms/step - loss: 15.2063

In [160]:
#test the model
#model evaluation on validation set

mlp_model.compile(loss='mae', optimizer='adam')
test_loss= mlp_model.evaluate(x_test, y_test)

WARNING:tensorflow:9 out of the last 13 calls to <function Model.make_test_function.<locals>.test_function at 0x7fe17bc82158> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 6ms/step - loss: 14.5391

In [161]:
#check 
predictions = mlp_model.predict(x_test)
# summarize the first 5 cases
for i in range(5):
	print('%s => %d (expected %d)' % (x_test[i].numpy().tolist(), predictions[i], y_test[i]))

[[0.9651238322257996, -0.9859264492988586], [0.9535689353942871, -0.9665994048118591], [0.9293032288551331, -0.9146581292152405], [0.9027267098426819, -0.8609045147895813], [0.8761501312255859, -0.7860122323036194], [0.8553510308265686, -0.7286349534988403]] => 0 (expected 16)
[[0.9535689353942871, -0.9665994048118591], [0.9293032288551331, -0.9146581292152405], [0.9027267098426819, -0.8609045147895813], [0.8761501312255859, -0.7860122323036194], [0.8553510308265686, -0.7286349534988403], [0.8276189565658569, -0.6501188278198242]] => 0 (expected 16)
[[0.9293032288551331, -0.9146581292152405], [0.9027267098426819, -0.8609045147895813], [0.8761501312255859, -0.7860122323036194], [0.8553510308265686, -0.7286349534988403], [0.8276189565658569, -0.6501188278198242], [0.8068197965621948, -0.5909294486045837]] => 0 (expected 15)
[[0.9027267098426819, -0.8609045147895813], [0.8761501312255859, -0.7860122323036194], [0.8553510308265686, -0.7286349534988403], [0.8276189565658569, -0.6501188278198242], [0.8068197965621948, -0.5909294486045837], [0.7941091656684875, -0.545028030872345]] => 0 (expected 15)
[[0.8761501312255859, -0.7860122323036194], [0.8553510308265686, -0.7286349534988403], [0.8276189565658569, -0.6501188278198242], [0.8068197965621948, -0.5909294486045837], [0.7941091656684875, -0.545028030872345], [0.7756211161613464, -0.5395920276641846]] => 0 (expected 15)